:root {
  --color-paragraph: #4E5D7C80;
  --color-subscription: #4E5D7C;
  --color-underline: #4E5D7C14;
  --color-sales: #1ABC9C;
  --whiteText: #FFFFFF;
  --opacityWhiteText: #FFFFFFCC;
  --active-card: #FFFFFF99;
  --primaryBlue: #357EFE;
  --black-color: #000000;
  --footer-backgroung: #1A1D25;
  --text-footer70: #FFFFFFB2;
  --text-footer80: #FFFFFF80;
  --color-active-card: #FFC736;
  --color-white-underline: #FFFFFF29;
  --color-background-sales: #1ABC9C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  font-size: 17px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1392px;
  margin: 0 auto;
}

.small-container {
  max-width: 1156px;
  margin: 0 auto;
}
