.header {
  background: linear-gradient(-9deg, rgba(255, 255, 255, 1) 28%, rgba(53, 126, 254, 1) 28%);
}

.header__top {
  margin-bottom: 96px;
}

.logo__link {
  font-size: 36px;
  font-weight: 900;
  line-height: 50.4px;
  color: var(--white-text);
}

.menu__link {
  color: var(--opacity-white-text);
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  cursor: pointer;
}

.tariffs {
  margin-bottom: 80px;
}

.menu__link:hover {
  color: var(--white-text);
}

.description {
  text-align: center;
  margin-bottom: 40px;
}

.description__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  margin-bottom: 24px;
}

.description__paragraph {
  font-size: 17px;
  font-weight: 500;
  line-height: 23.8px;
  color: var(--color-paragraph);
  margin-bottom: 40px;
}

.marketplaces {
  margin-top: 80px;
  max-width: 334px;
  width: 100%;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
  justify-content: space-between;
  gap: 64px;
  padding-bottom: 80px;
}

.advantages-item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: var(--black-color);
  max-width: 408px;
}

.horizen-line {
  border-bottom: 1px solid var(--color-underline);
  margin-bottom: 80px;
}

.main {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: var(--black-color);
}

.comparison__header {
  text-align: center;
}

.comparison__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  color: var(--white-text);
  padding-bottom: 24px;
}

.comparison__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  color: var(--opacity-white-text);
  padding-bottom: 40px;
}

.slide {
  display: flex;
  align-items: center;
  gap: 48px 64px;
  position: relative;
  margin-bottom: 80px;
  justify-content: flex-end;
}

.slide__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 482px;
}

.slide__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: var(--black-color);
}

.slide__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  color: var(--color-paragraph);
}

.slide__image > img {
  display: block;
  width: 100%;
}

.support__wrapper > img {
  display: block;
  width: 100%;
}

.images-wrapper {
  position: relative;
  margin-bottom: 64px;
}

.left-image {
  position: absolute;
  top: 96px;
  left: 0;
  z-index: 2;

}

.right-image {
  width: 100%;
}

.images-wrapper__img {
  width: 100%;
  display: block;
  border-radius: 16px;
}

.images-wrapper::before {
  content: url('../images/logo/Scroll.svg');
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.images-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 52%;
  transform: translateX(-50%);
  background: var(--primary-blue);
  width: 2px;
  height: 100%;
  z-index: 3;
}

.collation {
  display: flex;
  gap: 24px 71px;
}

.collation__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.collation__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: var(--white-text);
}

.collation__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  color: var(--opacity-white-text);
  display: flex;
  gap: 8px;
}

.mobile-image {
  display: block;
  width: 100%;
  margin-bottom: 80px;
}

.support {
  margin-bottom: 80px;
}

.support__wrapper {
  background-color: var(--primary-blue);
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 74px;
  margin-bottom: 80px;
}

.social-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 450px;
}

.support-client__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: var(--white-text);
}

.support-text {
  font-weight: 500;
  line-height: 23.8px;
  color: var(--opacity-white-text);
}

.contact .contact__finio {
  font-weight: 500;
  line-height: 23.8px;
  color: var(--white-text);
}

.reviews {
  margin-bottom: 80px;
}

.reviews__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 40px;
}

.swiper {
  max-width: 1156px;
}

.subscription__item {
  display: grid;
  grid-template-columns: auto 107px;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 438px;
  overflow: hidden;
  border-radius: 8px;
}

.slider__comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 578px;
  position: relative;
  overflow: hidden;
  padding: 48px 24px 48px 104px;
  color: var(--white-text);
  background-color: #357efe;
}

.slider__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  padding-bottom: 24px;
}

.slider__author {
  font-weight: 700;
  line-height: 23.8px;
}

.img-client {
  display: block;
  width: 100%;
}

.arrow-left {
  position: absolute;
  opacity: 0.6;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  opacity: 0.6;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  z-index: 1;
}


.arrow-hover:hover {
  opacity: 1;
}


.conditions {
  margin-bottom: 40px;
}

.conditions__term {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
}

.conditions__info {
  font-weight: 500;
  line-height: 23.8px;
  color: var(--color-paragraph);
}

.demo-period {
  font-size: 17px;
  line-height: 23.8px;
  font-weight: 800;
  padding: 12px 32px;
  border: none;
  border-radius: 47px;
  background: #357efe;
  color: var(--white-text);
  ;
  cursor: pointer;
}

.active-card {
  background: #357efe;
}

.active-card [class*='conditions__'] {
  color: var(--white-text);
  ;
}


.active-card [class*='__info'] {
  color: var(--active-card);
}

.active-card [class*='subscription__'] {
  color: var(--white-text);
}

.block {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-underline);
  padding-bottom: 40px;
}

.block__text {
  font-weight: 500;
  line-height: 23.8px;
  color: var(--text-footer70);
}

.block-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.block-menu__link {
  font-weight: 500;
  line-height: 23.8px;
  color: var(--text-footer80);
}


.block-menu__details {
  color: var(--text-footer70);
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.payment {
  display: flex;
  gap: 16px;
}

.copyright {
  font-weight: 500;
  line-height: 23.8px;
  color: var(--text-footer70);
}

@media (max-width: 1280px) {
  .header__top {
    padding: 30px 20px;
  }

  .header__middle-wrapper,
  .slide,
  .mobile,
  .support,
  .footer {
    padding: 0 20px;
  }

  .advantages {
    padding: 80px 20px;
  }

}

@media (max-width: 876px) {
  .header {
    background: linear-gradient(346deg, rgba(255, 255, 255, 1) 0%, rgba(53, 126, 254, 1) 0%);
  }

  .arrow-left,
  .arrow-right {
    display: none;
  }

  .slider {
    min-width: auto;
    flex-direction: column;
  }

  .slider__comment {
    overflow: visible;
  }

  .block {
    flex-direction: column;
    gap: 40px;
  }

  .footer__bottom {
    flex-wrap: wrap;
    gap: 20px;
  }
}