@import 'global.sass'

.header
  background-color: $primary-blue
.header__top
  margin-bottom: 96px

.logo__link
  font-size: 36px
  font-weight: 900
  line-height: 50.4px
  color: $white-text

.menu__link
  color: $opacity-white-text
  font-size: 18px
  font-weight: 500
  line-height: 25.2px
  cursor: pointer

.tariffs
  margin-bottom: 80px
.menu__link:hover
  color: $white-text
.description
  text-align: center
  margin-bottom: 40px
  &__title
    font-size: 48px
    font-weight: 600
    line-height: 57.6px
    margin-bottom: 24px
  &__paragraph
    font-size: $font-size-17
    font-weight: 500
    line-height: 23.8px
    color: $color-paragraph
    margin-bottom: 40px

.marketplaces
  margin-top: 80px
  max-width: 334px
  width: 100%

.advantages
  display: grid
  grid-template-columns: repeat(auto-fit,minmax(328px, 1fr))
  justify-content: space-between
  gap: 64px

  padding-bottom: 80px
  &-item
    display: flex
    align-items: center
    gap: 16px
    font-size: 24px
    font-weight: 700
    line-height: 28.8px
    color: $black-color
    max-width: 408px

// Горизонтальная линия
.horizen-line
  border-bottom: 1px solid $color-underline
  margin-bottom: 80px

.main
  font-size: 40px
  font-weight: 600
  line-height: 48px
  color: $black-color

.comparison
  &__header
    text-align: center
  &__title
    font-size: 48px
    font-weight: 600
    line-height: 57.6px
    color: $white-text
    padding-bottom: 24px
  &__text
    font-size: 18px
    font-weight: 500
    line-height: 25.2px
    color: $opacity-white-text
    padding-bottom: 40px

.slide
  display: flex
  align-items: center
  gap: 48px 64px
  position: relative
  margin-bottom: 80px
  justify-content: flex-end
  &__info
    display: flex
    flex-direction: column
    gap: 24px
    max-width: 482px

  &__title
    font-size: 40px
    font-weight: 600
    line-height: 48px
    color: $black-color
  &__text
    font-size: 18px
    font-weight: 500
    line-height: 25.2px
    color: $color-paragraph

.images-wrapper
  position: relative
  margin-bottom: 64px

.left-image
  position: absolute
  top: 96px
  left: 0
  z-index: 2

.images-wrapper::before
  content: url('../images/logo/Scroll.svg')
  cursor: pointer
  position: absolute
  left: 52%
  top: 50%
  transform: translate(-50%, -50%)
  z-index: 4

.images-wrapper::after
  content: ''
  position: absolute
  top: 0
  left: 52%
  transform: translateX(-50%)
  background: $primary-blue
  width: 2px
  height: 100%
  z-index: 3
.collation
  display: flex
  gap: 24px 71px
  &__wrapper
    display: flex
    flex-direction: column
    gap: 24px
  &__title
    font-size: 24px
    font-weight: 700
    line-height: 28.8px
    color: $white-text
  &__item
    font-size: 18px
    font-weight: 500
    line-height: 25.2px
    color: $opacity-white-text
    display: flex
    gap: 8px

.mobile-image
  display: block
  width: 100%
  margin-bottom: 80px
.support
  margin-bottom: 80px
  &__wrapper
    background-color: $primary-blue
    border-radius: 16px
    display: flex
    justify-content: space-evenly
    align-items: center
    gap: 74px
    margin-bottom: 80px

.social-wrapper
  display: flex
  flex-direction: column
  gap: 40px
  max-width: 450px

.support-client__title
  font-size: 40px
  font-weight: 600
  line-height: 48px
  color: $white-text

.support-text
  font-weight: 500
  line-height: 23.8px
  color: $opacity-white-text
.contact
  display: flex
  align-items: center
  gap: 16px
  &__finio
    font-weight: 500
    line-height: 23.8px
    color: $white-text

.reviews
  margin-bottom: 80px
  &__title
    font-size: 48px
    font-weight: 600
    line-height: 57.6px
    color: $black-color
    text-align: center
    margin-bottom: 40px
.swiper
  max-width: 1156px
.subscription
  &__item
    display: grid
    grid-template-columns: auto 107px
    justify-content: space-between
    align-items: center
    padding: 16px 0

.slider
  position: relative
  display: flex
  justify-content: space-between
  width: 100%
  max-height: 438px
  overflow: hidden
  border-radius: 8px
  &__comment
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    max-width: 578px
    position: relative
    overflow: hidden
    padding: 48px 24px 48px 104px
    color: $white-text
    background-color: $primary-blue
  &__title
    font-size: 28px
    font-weight: 700
    line-height: 39.2px
    padding-bottom: 24px
  &__author
    font-weight: 700
    line-height: 23.8px

.arrow-left
  position: absolute
  opacity: 0.6
  top: 50%
  transform: translateY(-50%)
  left: 0
  z-index: 1
  cursor: pointer
.arrow-right
  position: absolute
  opacity: 0.6
  top: 50%
  transform: translateY(-50%)
  right: 0
  cursor: pointer

.arrow-hover:hover
  opacity: 1

.conditions
  margin-bottom: 40px
  &__term
    margin-bottom: 16px
    font-size: 32px
    font-weight: 800
    line-height: 38.4px
  &__info

    font-weight: 500
    line-height: 23.8px
    color: $color-paragraph
.demo-period
  font-size: $font-size-17
  line-height: 23.8px
  font-weight: 800
  padding: 12px 32px
  border: none
  border-radius: 47px
  background: $primary-blue
  color: $white-text
  cursor: pointer

.active-card
  background: $primary-blue
  [class*='conditions__']
    color: $white-text
  [class*='__info']
    color: $active-card
  [class*='subscription__']
    color: $white-text

.block
  display: flex
  justify-content: space-between
  border-bottom: 1px solid $color-underline
  padding-bottom: 40px

  &__text
    font-weight: 500
    line-height: 23.8px
    color: $text-footer70

.block-menu
  display: flex
  flex-direction: column
  gap: 16px
  &__link
    font-weight: 500
    line-height: 23.8px
    color: $text-footer80
  &__details
    color: $text-footer70

.footer__bottom
  display: flex
  align-items: center
  justify-content: space-between
  padding: 40px 0

.payment
  display: flex
  gap: 16px

.copyright
  font-weight: 500
  line-height: 23.8px
  color: $text-footer70

@media (max-width:1290px)
  .image-laptop
