@at-root
$color-paragraph: #4E5D7C80
$color-subscription: #4E5D7C
$color-underline: #4E5D7C14
$color-sales: #1ABC9C
$demo-button: #357EFE
$white-text: #FFFFFF
$active-card: #FFFFFF99
$font-size-17: 17px

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: "Inter",sans-serif

.container
  max-width: 1392px
  margin: 0 auto

.bottom-underline
  border-bottom: 1px solid $color-underline

.white-underline
  border-bottom: 1px solid #FFFFFF29

.invisible
  opacity: 0

.conditions-margin
  margin-bottom: 15px

.active-card
  background: $demo-button
  [class*='conditions__']
    color: $white-text
  [class*='__info']
    color: $active-card
  [class*='subscription__']
    color: $white-text

.active-price
  background: #FFC736
  padding: 8px 16px
  color: $white-text
  border-radius: 8px
  margin-left: -14px
  margin-right: 16px

.description
  text-align: center
  margin-bottom: 40px
  padding: 0 24px
  &__title
    font-size: 48px
    font-weight: 600
    line-height: 57.6px
    margin-bottom: 24px
  &__paragraph
    font-size: $font-size-17
    font-weight: 500
    line-height: 23.8px
    color: $color-paragraph

.cards
  display: grid
  justify-content: center
  grid-template-columns: repeat(auto-fit, minmax(328px, 369px))
  gap: 24px 25px
  margin: 0 16px

.card
  display: flex
  flex-direction: column
  justify-content: flex-end
  gap: 16px
  padding: 48px 40px
  box-shadow: 0px 0px 32px 0px #4E5D7C29

.conditions
  margin-bottom: 40px
  &__term
    margin-bottom: 16px
    font-size: 32px
    font-weight: 800
    line-height: 38.4px
  &__info
    font-size: 17px
    font-weight: 500
    line-height: 23.8px
    color: $color-paragraph

.subscription
  &__item
    display: grid
    grid-template-columns: auto 107px
    justify-content: space-between
    align-items: center
    padding: 16px 0

.sales
  background: $color-sales
  color: $white-text
  border-radius: 8px
  max-width: 124px
  padding: 4px 16px

.demo-period
  font-size: $font-size-17
  line-height: 23.8px
  font-weight: 800
  padding: 12px 63.5px
  border: none
  border-radius: 47px
  background: $demo-button
  color: $white-text
  width: 100%

.activ-button
  background: $white-text
  color: $demo-button

@media (max-width:1080px)
  .cards
    grid-template-columns: repeat(auto-fit,minmax(328px,1fr))

@media (max-width:750px)
  .description
    text-align: center

@media (max-width:720px)
  .description__title
    text-align: center

@media (max-width:640px)
  .description__title
    font-size: 36px
  .description__paragraph
    text-align: left
@media (max-width: 576px)
  .cards
    display: flex
    flex-wrap: wrap
